
@{
    Html.AddCssFileParts("~/Content/bonus/css/icofont.min.css");

    ViewBag.Title = "注册";
    ViewBag.HideMenu = true;
}

<h2>Register</h2>

<div class="login clearfloat box-s">
    <h3>会员注册</h3>
    <div class="list clearfloat">
        <ul>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-user"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="text" name="" id="" value="" placeholder="用户名" />
                </div>
            </li>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-password"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="text" name="" id="" value="" placeholder="登录密码" />
                </div>
            </li>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-password"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="text" name="" id="" value="" placeholder="登录密码2" />
                </div>
            </li>
        </ul>
    </div>
    <div class="login-btn">
        <a href="register.html">
            <span class="opa5"></span>
            <samp>注册</samp>
        </a>
    </div>
</div>