
@{
    Html.AddCssFileParts("~/Content/bonus/css/other.css");
    Html.AddCssFileParts("~/Content/bonus/css/icofont.min.css");
    Html.AddCssFileParts("~/Content/sweetalert2/sweetalert2.min.css");
    
    Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/sweetalert2/sweetalert2.min.js");

    ViewBag.Title = "注册";
    ViewBag.HideMenu = true;
}

<div class="login clearfloat box-s">
    <h3>会员注册</h3>
    <div class="list clearfloat">
        <ul>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-user"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="text" name="username" id="username" placeholder="用户名(登陆账户)" />
                </div>
            </li>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-user"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="text" name="nickname" id="nickname" placeholder="姓名(真实姓名, 用于提现)" />
                </div>
            </li>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-smart-phone"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="text" name="phone" id="phone" placeholder="手机号" />
                </div>
            </li>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-password"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="password" name="password" id="password" value="" placeholder="登录密码" />
                </div>
            </li>
            <li class="ra3">
                <p class="fl clearfloat">
                    <span class="opa5"></span>
                    <i class="icofont-ui-password"></i>
                </p>
                <div class="nr clearfloat fl">
                    <span class="opa3"></span>
                    <input type="password" name="password2" id="password2" value="" placeholder="重复密码" />
                </div>
            </li>
        </ul>
    </div>
    <div class="login-btn">
        <button>
            <span class="opa5"></span>
            <samp>注册</samp>
        </button>
    </div>
</div>

@section scripts {
    <script>
        $("button").click(function () {
            var name = $('#username').val();
            if (!name) {
                SAlert('请输入用户名');
                return;
            }
            var nickName = $('#nickname').val();
            if (!nickName) {
                SAlert('请输入姓名');
                return;
            }

            var phone = $('#phone').val();
            if (!phone) {
                SAlert('请输入手机号');
                return;
            }
            if (!(/^1[34578]\d{9}$/.test(phone))) {
                SAlert('手机号格式不正确');
                return;
            }

            var pwd = $('#password').val();
            if (!pwd) {
                SAlert('请输入密码');
                return;
            }

            var pwd2 = $('#password2').val();
            if (!pwd2) {
                SAlert('请再次输入密码');
                return;
            }

            if (pwd != pwd2) {
                SAlert('两次密码不一致');
                return;
            }

            postLoading('@Url.RouteUrl("BonusApp_Register")', {
                Username: name,
                Password: pwd,
                Nickname: nickName,
                Phone: phone
            }, function (response) {
                if (!response.Result)
                    SAlert(response.Message);
                else
                    window.location.href = '@Url.RouteUrl("BonusApp_HomePage")';
            });
        });
    </script>
}
