@model CommentListModel

@{
    Html.SetActiveMenuItemSystemName("Comment");
}
<div class="clearfloat main">
    <!--liebiao star-->
    <div class="liebiao clearfloat">
        <div class="top clearfloat box-s">
            <p class="fl bt">最新评论</p>
            <p class="fr fu-tit">
                已有@(Model.TotalCount)人评论
            </p>
        </div>
        <div class="content clearfloat">
            <!--comment-->
            @Html.Partial("_CommentItems", Model.Data)
            <!--/comment-->
        </div>
        @*<div class="clearfloat view-more-button">
                <a href="javascript:void(0);">
                    加载...
                    <span><img src="~/Content/bonus/img/54.png" /></span>
                </a>
            </div>*@
    </div>
    
    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
        </div>
        <p class="infinite-scroll-last">加载完毕</p>
    </div>
    <!--liebiao end-->
</div>

@Html.Partial("_ToTop")

@section scripts {
    <script src="~/Scripts/bonus/infinite-scroll.pkgd.min.js"></script>
    <script>
        // scroll top
        $('.totop').tottTop({
            scrollTop: 100
        });

        var $container = $('.content').infiniteScroll({
            // options 'news/blog-p{{#}}.html'
            path: getPath,
            append: '.list',
            history: false,
            status: '.page-load-status',
            //button: '.view-more-button',
            // load pages on button click
            //scrollThreshold: false,
        });

        function getPath() {
            var availableCount = @(Model.TotalPages - 1);
            if (this.loadCount < availableCount) {
                return '/Home/LoadComment?page=' + (this.pageIndex + 1);
            }
        }
    </script>
}