<div class="content-header clearfix">
    <h1 class="pull-left">
        验证二级密码
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label title="" for="pwd2" class="control-label">二级密码</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            @Html.Password("pwd2")
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" name="save" class="btn bg-blue">
                        <i class="fa fa-floppy-o"></i>
                        验证
                    </button>
                </div>
            }
        </div>
    </div>
</div>