
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDateTest2</title>
</head>
<body>
    <div> 
        Testvalue: @ViewBag.TestValue <br/>
        TestValue: @TempData["TestValue"]<br />
        TestValue2 @TempData["TestValue2"] <br />
    </div>
</body>
</html>
