@{
    var activeMenu = Html.GetActiveMenuItemSystemName();
    /*
     Index
     Comment
     User
     */
    Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/bonus/totop.min.js");
}

<div class="totop">&uarr;</div>