<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Customer" nopResource="我的市场" RoleNames="Registered.Normal" ExcludeRoleNames="Managers,Administrators" IconClass="fa-book" >
      <siteMapNode SystemName="Customer Index" nopResource="个人中心" controller="Customer" action="Index" IconClass="fa-user"/>
      <!--<siteMapNode SystemName="Categories" nopResource="货币转换" controller="Category" action="List" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Withdraw money" nopResource="资金提现" controller="Customer" action="Withdraw" IconClass="fa-cny"/>
      <siteMapNode SystemName="Withdraw list" nopResource="提现列表" controller="Customer" action="WithdrawList" IconClass="fa-cny"/>
      <siteMapNode SystemName="MoneyLog list" nopResource="资金清单" controller="Customer" action="MoneyLogList" IconClass="fa-cny"/>
      <siteMapNode SystemName="Customer product" nopResource="提货中心" controller="Customer" action="ProductInfo" IconClass="fa-send"/>
    </siteMapNode>
    
    <siteMapNode SystemName="Customer teams diagarm" nopResource="系谱图" controller="Customer" action="Diagarm" RoleNames="Registered.Normal" ExcludeRoleNames="Managers,Administrators" IconClass="fa-tree">
    </siteMapNode>

    <siteMapNode SystemName="Register Customer" nopResource="会员注册" ExcludeRoleNames="Managers,Administrators" RoleNames="Registered.Normal" IconClass="fa-user-plus" >
      <siteMapNode SystemName="Register New Customer Test" nopResource="会员注册(测试页面)" controller="Customer" action="RegisterTest" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Register New Customer" nopResource="会员注册" controller="Customer" action="Register" IconClass="fa-dot-circle-o"/>
    </siteMapNode>

    <siteMapNode SystemName="Customer Info" nopResource="个人信息" RoleNames="Registered.Normal" ExcludeRoleNames="Managers,Administrators" IconClass="fa-info" >
      <siteMapNode SystemName="Customer Details" nopResource="个人信息修改" controller="Customer" action="Info" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Customer Password" nopResource="密码修改" controller="Customer" action="ChangePassword" IconClass="fa-dot-circle-o"/>
    </siteMapNode>

    <!--admin-->

    <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" PermissionNames="ManageCustomers" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="System Management" nopResource="系统管理" RoleNames="Managers,Administrators" IconClass="fa-book" >
      <siteMapNode SystemName="Withdraw Money" nopResource="提现申请" controller="CustomerManage" action="Withdraw" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="CustomerManage Register Customer" nopResource="会员注册"  controller="CustomerManage" action="RegisterZhiXiaoUser" PermissionNames="ManageCustomers" IconClass="fa-book" />
      <siteMapNode SystemName="Customer teams" nopResource="Admin.Customers.CustomerTeams" PermissionNames="ManageCustomers" controller="CustomerTeam" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer money overview" nopResource="业绩统计" controller="CustomerManage" action="MoneyOverview" PermissionNames="ManageCustomers" IconClass="fa-book" />
    </siteMapNode>
    <siteMapNode SystemName="CustomerManage" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageActivityLog" IconClass="fa-user" >
     
      <siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="CustomerManage" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer reports" nopResource="Admin.Customers.Reports" PermissionNames="ManageCustomers" controller="CustomerManage" action="Reports" IconClass="fa-dot-circle-o" />
      <!--<siteMapNode SystemName="Vendors" nopResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="fa-dot-circle-o" />-->
      <siteMapNode SystemName="Activity log" nopResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Activity log list" nopResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Activity types" nopResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <!--
      <siteMapNode SystemName="Promotions" nopResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fa-tags">
      <siteMapNode SystemName="Discounts" nopResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Affiliates" nopResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Newsletter subscriptions" nopResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Campaigns" nopResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    -->
    <siteMapNode SystemName="News" nopResource="Admin.ContentManagement.News" PermissionNames="ManageNews" IconClass="fa-cubes">
      <!--<siteMapNode SystemName="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="News items" nopResource="Admin.ContentManagement.News.NewsItems" controller="News" action="List"  IconClass="fa-genderless"/>
      <siteMapNode SystemName="News comments" nopResource="Admin.ContentManagement.News.Comments" controller="News" action="Comments" IconClass="fa-genderless"/>
      <!--<siteMapNode SystemName="Blog" nopResource="Admin.ContentManagement.Blog" PermissionNames="ManageBlog" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Blog posts" nopResource="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="List" IconClass="fa-genderless" />
        <siteMapNode SystemName="Blog comments" nopResource="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Polls" nopResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="fa-dot-circle-o"/>-->
    </siteMapNode>
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="ZhiXiao settings" nopResource="直销相关设置" controller="Setting" action="ZhiXiao" IconClass="fa-genderless"/>
        <siteMapNode SystemName="General settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Customer and user settings" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="fa-genderless"/>
        <!--<siteMapNode SystemName="Order settings" nopResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shipping settings" nopResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Tax settings" nopResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Catalog settings" nopResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shopping cart settings" nopResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Reward points" nopResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Vendor settings" nopResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Blog settings" nopResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="fa-genderless"/>-->
        <siteMapNode SystemName="News settings" nopResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="fa-genderless"/>
        <!--<siteMapNode SystemName="Forums settings" nopResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Media settings" nopResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>-->
        <siteMapNode SystemName="All settings" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <!--<siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Currencies" nopResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="Payment" nopResource="Admin.Configuration.Payment" PermissionNames="ManagePaymentMethods" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Payment methods" nopResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Payment method restrictions" nopResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="fa-genderless"/>
      </siteMapNode>-->
      <!--<siteMapNode SystemName="Tax" nopResource="Admin.Configuration.Tax" PermissionNames="ManageTaxSettings" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Tax providers" nopResource="Admin.Configuration.Tax.Providers" controller="Tax" action="Providers" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Tax categories" nopResource="Admin.Configuration.Tax.Categories" controller="Tax" action="Categories" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Shipping" nopResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Shipping providers" nopResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Warehouses" nopResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Pickup points" nopResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Dates and ranges" nopResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Measures" nopResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="fa-genderless" />
      </siteMapNode>-->
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
      <!--<siteMapNode SystemName="Widgets" nopResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="External authentication methods" nopResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Plugins" nopResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Local plugins" nopResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All plugins and themes catalog" nopResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed" IconClass="fa-genderless"/>
      </siteMapNode>-->
    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Templates" nopResource="Admin.System.Templates" PermissionNames="ManageMaintenance" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Category templates" nopResource="Admin.System.Templates.Category" controller="Template" action="CategoryTemplates" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Manufacturer templates" nopResource="Admin.System.Templates.Manufacturer" controller="Template" action="ManufacturerTemplates" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Product templates" nopResource="Admin.System.Templates.Product" controller="Template" action="ProductTemplates" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Topic templates" nopResource="Admin.System.Templates.Topic" controller="Template" action="TopicTemplates" IconClass="fa-genderless"/>
      </siteMapNode>-->
    </siteMapNode>

    <!--<siteMapNode SystemName="Third party plugins" RoleNames="Registered.Normal" ExcludeRoleNames="Managers,Administrators" nopResource="Admin.Plugins" IconClass="fa-bars" />-->
  </siteMapNode>
</siteMap>

