@model Web.ZhiXiao.Areas.BonusApp.Models.CustomerModel

@{
    Html.SetActiveMenuItemSystemName("User");

    Html.AddCssFileParts("~/Content/sweetalert2/sweetalert2.min.css");

    Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/sweetalert2/sweetalert2.min.js");

    ViewBag.Title = "提现申请";
}

<div class="main clearfloat">
    <div class="warp warpthree clearfloat">
            <div class="h-top h-topone clearfloat box-s">
                <p>@Model.Money</p>
                <span>账户余额(元)</span>
            </div>
            <div class="recharge clearfloat">
                <div class="czhi clearfloat box-s">
                    <p>提现金额</p>
                    <input type="number" id="money" placeholder="请输入金额" />
                    <span>元</span>
                </div>
                <div class="czhi clearfloat box-s">
					<p>提现账号</p>
					<input type="text" id="account" placeholder="请输入账号" />
				</div>
                <div class="czhi clearfloat box-s" id='showUserPicker'>
                    <p>支付方式</p>
                    <i class="iconfont icon-xiala fr"></i> 
					<input type="text" id="method" placeholder="请输支付方式" />
                </div>
                <!--<a href="#" class="center-btn center-btntwo db ra3">点击上传文件</a>-->
                <div class="bottom clearfloat">
                    @if (Model.Money > 0)
                    {
                        <button class="db fl btn ra3">确定</button>
                    }
                    else
                    {
                        <button class="db fl btn ra3" disabled>当前余额为0, 不能提现</button>
                    }
                </div>
				<div class="guize clearfloat box-s ra3">
                    <h3>提现规则</h3>
                    <div class="content clearfloat">
                        提现规则提现规则提现规则提现规则提现规则提现规则
                    </div>
                </div>
            </div>
        </div>
</div>

@section scripts {
    <script type="text/javascript">
        $("button").click(function () {
            var money = $('#money').val();
            if (!money) {
                SAlert('请输入提现金额');
                return;
            }
            if (money < 0 || money > @Model.Money) {
                SAlert('提现金额不能超过@(Model.Money)');
                return;
            }
            if (!/^\d+(\.\d{1,2})?$/.test(money)) {
                SAlert('提现金额最多两位小数');
                return;
            }

            var account = $('#account').val();
            if (!account) {
                SAlert('请输入提现账号');
                return;
            }

            var method = $('#method').val();
            if (!method) {
                SAlert('请输入支付方式');
                return;
            }

            postLoading('@Url.Content("~/User/TiXian")', {
                money: money,
                account: account,
                method: method
            }, function (response) {
                if (!response.Result)
                    SAlert(response.Message);
                else
                    SSuccess(response.Data, function () {
                        window.location.reload();
                    });
            });
        });
    </script>
}
